name: DevOps 07 CI

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14
          cache: "npm"
      - run: npm ci

  code_quality:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14
          cache: "npm"
      - run: npm ci
      - run: npm run lint
      - run: npm run prettier
  test:
    runs-on: ubuntu-latest
    needs: [code_quality]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14
          cache: "npm"
      - run: npm ci
      - run: npm test
  build_package:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14
          cache: "npm"
      - run: npm ci
      - run: npm run build
